[Unit]
Description=EP Agent
After=network.target

[Service]
ExecStart=/home/user/EP/agent/agent_bin
Restart=always
WorkingDirectory=/home/user/EP/agent

[Install]
WantedBy=multi-user.target