[Unit]
Description=EP Controller
After=network.target

[Service]
ExecStart=/home/user/EP/controller/controller_bin
Restart=always
WorkingDirectory=/home/user/EP/controller

[Install]
WantedBy=multi-user.target